.heading-style{
    /* background-color: lightgreen; */
    height: 100px;
    margin-left: 410px;
    display: flex;
}
.heading-font{
    width: 450px;
    height: 100px;
    color: white;
    font-size: 50px;
    margin-top: 12px;
    margin-left: 4px;
}
.heading-bg{
    background-color: green;

}